.text-green{
  color: green;
}
.bg-lightgreen{
  background-color: lightgreen;
}
.h-100px{
  height: 100px;
}
.h-30px{
  height: 30px;
}
.w-30{
  width: 30%;
}
.bg-blue{
  background-color: dodgerblue;
}
.d-inline-block{
  display: inline-block;
}
#box-model{
  border: 3px dashed #00897B;
  margin: 50px 40px 20px 100px;
  padding: 10px 5px 5px 20px;
}
